<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated drop">
	    <ul>
      {% for link in site.data.navigation %}
		    <li><a href="{{ link.url }}" {% if link.url contains 'http' or link.new_window %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		  {% endfor %}
        <li class="dosearch"><span><i class="fa fa-search"></i> Search</span></li>
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

<div class="search-wrapper">
  <div class="search-form">
    <input type="text" class="search-field" placeholder="Search...">
    <button class="close-btn"><i class="fa fa-times-circle fa-2x"></i></button>
    <ul class="search-results post-list"></ul><!-- /.search-results -->
  </div><!-- /.search-form -->
</div><!-- ./search-wrapper -->

{% if page.image.feature %}<header class="masthead">
	{% if site.logo != null %}
		<div class="wrap">
			<a href="/" class="site-logo" rel="home" title="{{ site.title }}"><img src="/assets/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated bounceInDown"></a>
		</div>
	{% endif %}
</header><!-- /.masthead -->
{% else %}<header class="masthead">
	<div class="wrap">
        {% if site.logo != null %}
    		<a href="/" class="site-logo" rel="home" title="{{ site.title }}"><img src="/assets/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInUp"></a>
        {% endif %}
        <h1 class="site-title animated fadeIn"><a href="/">{{ site.title }}</a></h1>
		<h2 class="site-description animated fadeIn" itemprop="description">{{ site.description }}</h2>
	</div>
</header><!-- /.masthead -->{% endif %}

<div class="js-menu-screen menu-screen"></div>
